# 3. Working on IRIS data set

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import datasets

# 2.1 Loading the data into the data frame

In [9]:
dataset=datasets.load_iris()
data=pd.DataFrame(dataset['data'],columns=['Petal length','Petal Width','Sepal Length','Sepal Width'])
data['Species']=dataset['target']
data['Species']=data['Species'].apply(lambda x: dataset['target_names'][x])

# Display the first 10 rows!

In [12]:
data.head(10)

   Petal length  Petal Width  Sepal Length  Sepal Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

# Exercise 1.1

In [11]:
data.isnull().sum()

Petal length    0
Petal Width     0
Sepal Length    0
Sepal Width     0
Species         0
dtype: int64

In [14]:
modData = data.append({'Petal length' : np.nan , 'Petal Width' : 3.6, 'Sepal Length': 0,
                       'Sepal Width': 0.2, 'Species': 'setosa' } , ignore_index=True)
modData.describe()

       Petal length  Petal Width  Sepal Length  Sepal Width
count    150.000000   151.000000    151.000000   151.000000
mean       5.843333     3.060927      3.733113     1.192715
std        0.828066     0.436650      1.785785     0.764033
min        4.300000     2.000000      0.000000     0.100000
25%        5.100000     2.800000      1.550000     0.300000
50%        5.800000     3.000000      4.300000     1.300000
75%        6.400000     3.350000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Now, our new dataset “modData” has new row with a missing value. Can you determine in which column is it?
### Yes, in column is : Petal length
## What does np.nan mean? 
### np.nan is count of missing values in coulmn

In [15]:
print('Columns with missing values')
print(modData.isnull().sum())
print('\n Columns with zero values')
print((modData[['Petal length','Petal Width','Sepal Length','Sepal Width','Species']]==0).sum())

Columns with missing values
Petal length    1
Petal Width     0
Sepal Length    0
Sepal Width     0
Species         0
dtype: int64

 Columns with zero values
Petal length    0
Petal Width     0
Sepal Length    1
Sepal Width     0
Species         0
dtype: int64

# Exercise 1.2

In [16]:
modData = data.append({'Petal length' : np.nan , 'Petal Width' : 3.6, 'Sepal Length': 0,
                       'Sepal Width': 0.2, 'Species': 'setosa' } , ignore_index=True)
modData.describe()
modData.isnull().sum()

Petal length    1
Petal Width     0
Sepal Length    0
Sepal Width     0
Species         0
dtype: int64

In [22]:
modData[['Petal length',
         'Petal Width',
         'Sepal Length',
         'Sepal Width','Species']] = modData[['Petal length',
                                              'Petal Width',
                                              'Sepal Length',
                                              'Sepal Width',
                                              'Species']].replace(0, np.NaN)
print('Columns with missing values')
print(modData.isnull().sum())

Columns with missing values
Petal length    1
Petal Width     0
Sepal Length    1
Sepal Width     0
Species         0
dtype: int64

# Exercise 1.3

In [20]:
# fill missing values with Median column values
modData.fillna(modData.median(), inplace=True)
# count the number of NaN values in each column
print(modData.isnull().sum())

Petal length    0
Petal Width     0
Sepal Length    0
Sepal Width     0
Species         0
dtype: int64