In [2]:
from mlxtend.frequent_patterns import apriori

# Exercise 1.1

In [10]:
dataset = [['Drink', 'Nuts', 'Diaper'],
           ['Drink', 'Coffee', 'Diaper'],
           ['Drink', 'Diaper', 'Eggs'],
           ['Nuts', 'Eggs', 'Milk'],
           ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk']]

In [11]:
dataset

[['Drink', 'Nuts', 'Diaper'],
 ['Drink', 'Coffee', 'Diaper'],
 ['Drink', 'Diaper', 'Eggs'],
 ['Nuts', 'Eggs', 'Milk'],
 ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk']]

# Exercise 1.2

In [12]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

TranEncod = TransactionEncoder()
te_ary = TranEncod.fit(dataset).transform(dataset) #هنا انشاء اراي واحد فيها الداتا ست اللي عندي
df = pd.DataFrame(te_ary, columns=TranEncod.columns_)

In [13]:
df

   Coffee  Diaper  Drink   Eggs   Milk   Nuts
0   False    True   True  False  False   True
1    True    True   True  False  False  False
2   False    True   True   True  False  False
3   False   False  False   True   True   True
4    True    True  False   True   True   True

# Exercise 1.3

### P(B|A) = |B∩A| / |A| 
#### Drink=3 Nuts=3 Eggs=3 Diaper=4 Milk=2 Coffee=2 
##### Drink-Diaper=3/3*100=100% 
##### Diaper- Drink=3/4*100=75% 
##### Diaper-Nuts=2/4*100=50% 
##### Diaper-coffee=2/4*100=50% 
##### Diaper-eggs=2/4*100=50% 
##### Nuts- Diaper=2/3*100=66.5% 
##### Nuts-Milke=2/3*100=66.5% 
##### Nuts-eggs=2/3*100=66.5% 
##### Coffee- Diaper=2/2*100=100% 
##### Eggs- Diaper=2/3*100=66.5% 
##### Eggs-Nuts=2/3*100=66.5% 
##### Eggs-Milke =2/3*100=66.5%